

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.isActive, {'attr': {'class': 'form-control'}}) }}

    {{ form_row(form.role, {'attr': {'class': 'form-control'}}) }}
    {# {{ form_row(form.created_at, {'attr': {'class': 'form-control'}}) }} #}
   {# {{ form_row(form.updated_at, {'attr': {'class': 'form-control'}}) }} #}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
