{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="full-screen-container" style=" margin-left: 300px;margin-right: 30px;">
<div class="full-screen-container">
        <h1 class="bold-red-text">Role index</h1>
</div>
    <h1>Show User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

<a class="btn btn-primary" href="{{ path('app_user_index') }}"><i class="fa fa-home" aria-hidden="true"></i> back to list</a>


    <a class= "btn btn-success" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" style="display:
        inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
            <button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        </form>

{% endblock %}
